<% if user_signed_in? && current_user.is_company? %>
<%= render "pages/banner_business" %>
<br>
<h1>My products:</h1>

<div class="cards">

  <% @products.each do |product| %>
    <div class="card-product">
      <% if product.photo.key? %>
      <%= cl_image_tag product.photo.key, height: 300, width: 400, crop: :fill %>
      <% else %>
      <%= image_tag "placeholder.jpg", class: "product_image" %>
      <% end %>
      <div class="product-info">
        <h2><%= product.name %></h2>
        <p> US$ <%= product.price %>.00</p>
        <p>Grain type: <%= product.roast_type %></p>
        <div class="product-weight">
          <p><%= product.weight %> grams</p>
          <%= link_to "View Details", product_path(product), class: "btn btn-primary" %>
          <%= link_to "Edit Product", edit_product_path(product), class: "btn btn-primary" %>
          <%= link_to "Delete", product_path(product), data:{turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<h1>Add new product:</h1>
<%= link_to "Add new product", new_product_path, class: "btn btn-primary" %>



<% else %>
  <%= render "pages/banner" %>
  <br>
  <p>Steamed redeye galão caffeine affogato macchiato brewed galão caramelization carajillo robusta. Froth, caramelization milk macchiato chicory french press robust. Affogato est aromatic, doppio a, id con panna sit cortado frappuccino to go. Acerbic, percolator, breve, aroma, medium aroma lungo coffee milk fair trade.</p>
  <p>A, caramelization half and half black carajillo viennese instant cultivar froth. Qui plunger pot frappuccino bar  aromatic half and half americano brewed chicory. Americano iced, rich, sit cinnamon aromatic, kopi-luwak qui cappuccino cream roast. Coffee, that, milk extra  that sweet plunger pot coffee dark.</p>

  <br>
  <%= render "pages/coffee" %>
  <br>
  <%= render "pages/accessories" %>
  <br>
  <%= render "pages/promo" %>
<% end %>
</div>
