<% if user_signed_in? && current_user.is_company? %>
<%= render "pages/banner_business" %>
<br>
<h1>My products:</h1>

<div class="cards">

  <% @products.each do |product| %>
    <div class="card-product">
      <% if product.photo.key? %>
      <%= cl_image_tag product.photo.key, height: 300, width: 400, crop: :fill %>
      <% else %>
      <%= image_tag "placeholder.jpg", class: "product_image" %>
      <% end %>
      <div class="product-info">
        <h2><%= product.name %></h2>
        <p> US$ <%= product.price %>.00</p>
        <p>Grain type: <%= product.roast_type %></p>
        <div class="product-weight">
          <p><%= product.weight %> grams</p>
          <%= link_to "View Details", product_path(product), class: "btn btn-primary" %>
          <%= link_to "Edit Product", edit_product_path(product), class: "btn btn-primary" %>
          <%= link_to "Delete", product_path(product), data:{turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<h1>Add new product:</h1>
<%= link_to "Add new product", new_product_path, class: "btn btn-primary" %>



<% else %>
  <%= render "pages/banner" %>
  <br>
  <p>Browse through our categories and discover a variety of premium coffees, from smooth and aromatic to bold and full-bodied. We also offer essential accessories to perfect your coffee cup, from grinders to specialized brewing methods.</p>
  <p>Our commitment is to provide you with an exceptional coffee journey, from the moment you choose your beans to the first steaming cup you savor. Whether you're a seasoned coffee lover or just beginning to explore this wonderful world, we're here to serve you.

Feel free to explore our website, make your selections, and if you have any questions or need guidance, our team is ready to assist. Enjoy your visit and dive into the pleasure of coffee!"

I hope this message helps you welcome your visitors with enthusiasm and invites them to explore your coffee products.</p>

  <br>
  <%= render "pages/coffee" %>
  <br>
  <%= render "pages/accessories" %>
  <br>
  <%= render "pages/promo" %>
<% end %>
</div>
