<%= simple_form_for([ @user, @product ]) do |f| %>

  <%= f.input :name %>

  <%= f.input :product_type, collection: ["Coffee", "filter", "grinder", "cup"] %>

  <%= f.input :description %>

  <%= f.input :region %>

  <%= f.input :roast_type, collection: ['grain', 'coarse', 'thin'] %>

  <%= f.input :weight, collection: ["250g", "500g", "1000g"] %>

  <%= f.input :price %>

  <%= f.input :is_promo, required: true %>

  <%= f.input :photo, as: :file %>

  <div class="d-grid">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
