<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('background.jpg') %>)">
  On sales NOW!
</div>

<div class="cards">

  <% @promos.each do |promo| %>
    <div class="card-product">
    <% if promo.photo.key? %>
      <%= cl_image_tag coffee.photo.key, height: 300, width: 400, crop: :fill %>
    <% else %>
      <%= image_tag "accessory.jpg", class: "accessory_image" %>
    <% end %>
      <div class="accessory-info">
        <h2><%= promo.name %></h2>
        <p> US$ <%= promo.price %>.00</p>
        <p>Product type: <%= promo.product_type %></p>
        <div class="details">
          <%= link_to "View Details", product_path(promo), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="d-flex justify-content-center">
    <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
</div>
