<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('background.jpg') %>)">
  Coffee Accessories
</div>

<div class="cards">

  <% @accessories.each do |accessory| %>
    <div class="card-product">
      <%= image_tag "accessory.jpg", class: "accessory_image" %>
      <div class="accessory-info">
        <h2><%= accessory.name %></h2>
        <p> US$ <%= accessory.price %>.00</p>
        <p>Product type: <%= accessory.product_type %></p>
        <div class="details">
          <%= link_to "View Details", product_path(accessory), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
