<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('background.jpg') %>)">
  Special Coffees
</div>

<div class="cards">

  <% @coffees.each do |coffee| %>
    <div class="card-product">
      <% if coffee.photo.key? %>
        <%= cl_image_tag coffee.photo.key, height: 300, width: 400, crop: :fill %>
      <% else %>
        <%= image_tag "placeholder.jpg", class: "product_image" %>
      <% end %>
      <div class="product-info">
        <h2><%= coffee.name %></h2>
        <p> US$ <%= coffee.price %>.00</p>
        <p>Grain type: <%= coffee.roast_type %></p>
        <div class="product-weight">
          <p><%= coffee.weight %> grams</p>
          <%= link_to "View Details", product_path(coffee), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="d-flex justify-content-center">
    <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
</div>
