<%if @product.product_type == "Coffee" %>

  <div class="card-product" >
    <%= image_tag "placeholder.jpg", class: "coffee_image" %>
    <div class="product-details">
      <p><strong>Name:</strong> <%= @product.name %> </p>
      <p><strong>Details:</strong> <%= @product.description %> </p>
      <p><strong>Roast Type:</strong> <%= @product.roast_type %> </p>
      <p><strong>Net weight:</strong> <%= @product.weight %> </p>
      <p><strong>Price: $ </strong> <%= @product.price %> <%= link_to 'delete', products_path(@product), data: { turbo_method: :delete, turbo_confirm: 'are you sure?' }%> </p>
      <%# <%= link_to "#" do%>
        <%# <i></i> procurar icone de "checkout" no font awesome  %>
      <%# <% end %> 
    </div>
  </div>

  <p class="btn btn-primary"><%= link_to 'back to Coffee', products_path %></p>


<% else %>

  <div class="card-product" >
    <%= image_tag "accessory.jpg", class: "accesory_image" %>
    <div class="product-details">
      <p><strong>Name:</strong> <%= @product.name %> </p>
      <p><strong>Product Type:</strong> <%= @product.product_type %> </p>
      <p><strong>Details:</strong> <%= @product.description %> </p>
      <p><strong>Price: $ </strong> <%= @product.price %> <%= link_to 'delete', index_accessories_products_path(@product), data: { turbo_method: :delete, turbo_confirm: 'are you sure?' }%> </p>
      <%# <%= link_to "#" do%>
        <%# <i></i> procurar icone de "checkout" no font awesome  %>
    </div>
  </div>

  <% if current_user.is_company?  %>
    <p class="btn btn-primary"><%= link_to 'back to my products', root_path %></p>

  <% else %>
    <p class="btn btn-primary"><%= link_to 'back to Accessories', index_accessories_products_path %></p>
  <% end %>
<% end %>
