<h1><%= @product.name %></h1>
<p><%= @product.description %></p>
<%= link_to 'Purchase', new_product_purchase_path(@product), class: 'btn btn-primary' %>


<%if @product.product_type == "Coffee" %>
  <div class="card-product" >
    <% if @product.photo.key? %>
      <%= cl_image_tag @product.photo.key, height: 300, width: 400, crop: :fill %>
    <% else %>
      <%= image_tag "placeholder.jpg", class: "product_image" %>
    <% end %>
    <div class="product-details">
      <p><strong>Name:</strong> <%= @product.name %> </p>
      <p><strong>Details:</strong> <%= @product.description %> </p>
      <p><strong>Roast Type:</strong> <%= @product.roast_type %> </p>
      <p><strong>Net weight:</strong> <%= @product.weight %> </p>
      <p><strong>Price: $ </strong> <%= @product.price %>
    </div>
  </div>
  <%  unless current_user.nil? %>
    <% if current_user.is_company?  %>
      <p class="btn btn-primary"><%= link_to 'back to my products', root_path %></p>
    <% elsif @product.is_promo%>
      <p class="btn btn-primary"><%= link_to 'back to Promos', index_promo_products_path %></p>
    <% else %>
      <p class="btn btn-primary"><%= link_to 'back to Coffee', products_path %></p>
    <% end %>
  <% else %>
      <p class="btn btn-primary"><%= link_to 'back to Coffee', products_path %></p>
  <% end %>
<% else %>

  <div class="card-product" >
    <%= image_tag "accessory.jpg", class: "accesory_image" %>
    <div class="product-details">
      <p><strong>Name:</strong> <%= @product.name %> </p>
      <p><strong>Product Type:</strong> <%= @product.product_type %> </p>
      <p><strong>Details:</strong> <%= @product.description %> </p>
      <p><strong>Price: $ </strong> <%= @product.price %>
      <%# <%= link_to "#" do%>
        <%# <i></i> procurar icone de "checkout" no font awesome  %>
    </div>
  </div>


  <% unless current_user.nil? %>
    <% if current_user.is_company?  %>
      <p class="btn btn-primary"><%= link_to 'back to my products', root_path %></p>
    <% elsif @product.is_promo%>
      <p class="btn btn-primary"><%= link_to 'back to Promos', index_promo_products_path %></p>
    <% else %>
      <p class="btn btn-primary"><%= link_to 'back to Accessories', index_accessories_products_path %></p>
    <% end %>
  <% else %>
      <p class="btn btn-primary"><%= link_to 'back to Accessories', index_accessories_products_path %></p>
  <% end %>
<% end %>

<%# index_promo_products %>
